aside.left {
    display: block;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    align-items: center;
}

aside.left span {
    display: inline-flex;
    height: 25px;
    margin: 20px;
    font-weight: bold;
    align-items: center;
}