aside.right {
    display: grid;
    grid-template-rows: 250px;
    grid-template-areas:
        "cal"
        "ads";
    grid-gap: 15px;
}

.calendar {
    grid-area: cal;
}

.ads {
    grid-area: ads;
    align-content: center;
}

.ads img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 10px;

    box-shadow: 2px 2px 5px lightgray, -2px -2px 5px lightgray;
}