:root {
    --backColor: #e7ecff;
    --backColor2: #f5f7fd;
}

body {
    height: 100%;
    background: black;
}

header {
    background: var(--backColor);
    background-image: linear-gradient(to top, var(--backColor), var(--backColor2));
}

aside {
    background: var(--backColor);
    background-image: linear-gradient(to bottom left, var(--backColor), var(--backColor2));
}

main {
    background: var(--backColor);
    background-image: linear-gradient(to bottom right, var(--backColor), var(--backColor2));
}

footer {
    background: var(--backColor);
    background-image: linear-gradient(to top, var(--backColor), var(--backColor2));
}