* {
    box-sizing: border-box;
}

form {
    width: 400px;
    margin: 50px auto;
}

form input {
    width: 100%;
    padding: 10px;
}

form div {
    margin-top: 10px;
    margin-bottom: 10px;
}
.goodNumber {
    background-color: lightgreen;
    color: green;
}

.badValue {
    background-color: lightcoral;
    color: red;
}