div.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

div.gallery img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    text-align: center;
}

.loader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 30px;
    border-radius: 30px;
    z-index: 10;
}
