:root {
    --topMenuHeight: 70px;
}

body {
    height: 100%;
    font-family: gill sans, sans-serif;
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 9fr 2fr;
    grid-template-rows: var(--topMenuHeight) auto 30px;
    grid-gap: 3px;
    grid-template-areas:
        "h h h"
        "a_l m a_r"
        "f f f";
    background-image: linear-gradient(to bottom right, #1d84d0, #0d51a9, #106aab);
}
body>header {
    grid-area: h;
}
body>aside.left {
    grid-area: a_l;
}

body>aside.right {
    grid-area: a_r;
}

body>main {
    grid-area: m;
    margin: 10px;
}

body>footer {
    grid-area: f;
}

main button {
    min-width: 30px;
}
