body > header {
    display: grid;
    position: relative;
    grid-template-columns: 2fr 10fr;
    grid-gap: 3px;
}

header > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > div > img {
    height: 100px;
    transition: all  .7s ease-in-out
}

header > div > img:hover {
    transform: rotate(360deg);
}

header > nav > ul {
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

li {
    display: inline;
    font-size: 2em;
    border: 2px solid green;
    bottom: 0px;
}

header > input {
    position: absolute;
    color: darkgray;
    bottom: 0px;
    right: 0px;
    margin-bottom: 0px;
    right: 0px;
    height: 25px;
    width: 20%;
}
