body > header {
    display: grid;
    position: sticky;
    grid-template-columns: 1fr 11fr;
    grid-gap: 3px;
}

header > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > div.logo img {
    height: var(--topMenuHeight);
    transition: all .7s ease-in-out
}

header > div.logo img:hover {
    transform: scale(1.1);
}

header li {
    display: inline;
    vertical-align: middle;
    line-height: var(--topMenuHeight);
    margin: 10px;
}

.upperMenuElement {
    position: relative;
    text-decoration: none;
    font-family: 'Brush Script MT', cursive;
    /*font-style: italic;*/
    color: #e7ecff;
    font-size: 1.15em;
}

.upperMenuElement::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #e7ecff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.upperMenuElement:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

header > input {
    position: absolute;
    color: darkgray;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    height: 25px;
    width: 20%;
}