div.pictures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
}

div.pictures img {
    display: block;
    transition: transform .2s;
}

div.pictures img:hover {
    transform: scale(1.2);
    box-shadow: 2px 2px 5px grey, -2px -2px 5px grey;
}

div.pictures > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}