.sachmatai > div {
    width: 75px;
    height: 75px;
    margin: 5px;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    background: gray;
}

.sachmatai {
    height: 535px;
    width: 535px;
}

div div:nth-of-type(4n+2){
    background: cyan;
}

div div:nth-child(4n+4){
    background: green;
}

div div:nth-child(2n+16){
    background: pink;
}